<section class="about">
  <div class="about-content">
    <p>I am a skilled web developer with expertise in .NET, C#, SQL, and Azure development. Proficient in Agile and Scrum methodologies, I thrive in fast-paced environments. My proficiency in Azure DevOps ensures seamless project management, while my experience with Angular guarantees the creation of dynamic and interactive web applications. Committed to delivering top-notch solutions, I am passionate about exploring new technologies to stay ahead in the ever-evolving world of web development.</p>
  </div>
</section>
