<section class="home">
  <div class="home-content">
      <h1>Hi, I'm <i style="font-style: italic;">Sanjeev Jyothikrishnan</i></h1>
      <h3>Backend Developer.</h3>
      <p>With 10 years of professional experience as a .NET Developer, I bring extensive knowledge and expertise to software development projects. Proficient in C#, .NET Core, ASP.NET, MVC, JavaScript, and more, I have a strong background in designing, developing, testing, and deploying software applications across various industries. I am skilled in using SQL Server, MySQL, Entity Framework, and Dapper, and have worked extensively with Azure DevOps for managing the software development lifecycle and creating CI/CD pipelines. Known for delivering high-quality solutions, I excel in problem-solving, collaboration, and leadership. Additionally, I am well-versed in Agile methodologies and strive to stay updated with industry trends.</p>
      <div class="btn-box">
          <a href="#"> Hire Me</a>
          <a href="#">Let's Talk</a>
      </div>
  </div>
  <div class="image">
      <img src=".\assets\img\a.jpg" alt="Sanjeev">
  </div>

  <div class="home-sci">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-twitter' ></i></a>
      <a href="#"><i class='bx bxl-linkedin' ></i></a>
  </div>
</section>
