<section class="skills">
  <div class="skills-content">
    <section class="skills">

      <!-- <h2>FrontEnd</h2> -->

      <div class="skills-front-end row">
          <div >
            <img width="100" height="100" src=".\assets\img\icons8-html-120.png" alt="html-5--v1" title="HTML"/>
          </div>
          <div >
            <img width="100" height="100" src=".\assets\img\icons8-css3-120.png" alt="html-5--v1" title="CSS"/>
          </div>
          <div >
            <img width="100" height="100" src=".\assets\img\icons8-js-120.png" alt="html-5--v1" title="Javascript"/>
          </div>
          <div >
            <img width="100" height="100" src=".\assets\img\icons8-angular-120.png" alt="html-5--v1" title="Angular"/>
          </div>
      </div>

      <!-- <h2>BackEnd</h2> -->

      <div class="skills-back-end">
        <div >
          <img width="100" height="100" src=".\assets\img\icons8-.net-framework-120.png" alt="html-5--v1" title=".Net Core"/>
        </div>
        <div >
          <img width="100" height="100" src=".\assets\img\icons8-sql-96.png" alt="html-5--v1" title="SQL Server"/>
        </div>
      </div>

      <!-- <h2>Cloud</h2> -->

      <div class="skills-cloud">
        <div>
          <img width="100" height="100" src=".\assets\img\icons8-azure-120.png" alt="html-5--v1" title="Azure"/>
        </div>
        <div >
          <img width="100" height="100" src=".\assets\img\icons8-azure-active-directory-120.png" alt="html-5--v1" title="Azure AD"/>
        </div>
        <div >
          <img width="100" height="100" src=".\assets\img\icons8-azure-storage-120.png" alt="html-5--v1" title="Azure Storage"/>
        </div>
      </div>


  </section>
  </div>
</section>
<!-- skills.component.html -->
