<section class="skills">
  <div class="skills-content">
    <div class="skills-card">
      <div class="skill-item">
        <i class="fab fa-dotnet"></i>
        <span>.NET</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-dotnet"></i>
        <span>.NET Core</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-database"></i>
        <span>EF Core</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-database"></i>
        <span>SQL</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-angular"></i>
        <span>Angular</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-code"></i>
        <span>WebAPI</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-azure"></i>
        <span>Azure DevOps</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-clipboard-list"></i>
        <span>Agile</span>
      </div>
      <div class="skill-item">
        <i class="fas fa-clipboard-list"></i>
        <span>Scrum</span>
      </div>
      <div class="skill-item">
        <i class="fab fa-azure"></i>
        <span>Azure Development</span>
      </div>
    </div>

  </div>
</section>
<!-- skills.component.html -->
