/* skills.component.css */
.skills-content{
  padding: 10%;
  display:  flex;
  font-style: italic;
  justify-content: center;
  }

.skills-front-end, .skills-back-end, .skills-cloud, .sskills-db{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.skill-item i {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill-item span {
  font-size: 16px;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #00abf0;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #00abf0 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
