<section class="home">
  <div class="home-content">
    <ngx-typed-js [strings]="['Sanjeev Jyothikrishnan']"
          [typeSpeed]="50"
          [loop]="true">
      <p ></p>
      <h1>Hi, I'm <i style="font-style: italic; color:yellowgreen" class="typing"></i></h1>
    </ngx-typed-js>

      <h3>Web Developer.</h3>
      <p>I am a skilled web developer with expertise with expertise in .NET, Azure DevOps, Agile, Scrum, FDD, and Angular, showcasing my passion for crafting innovative and efficient solutions.</p>
      <div class="btn-box">
          <a href="#"> Hire Me</a>
          <a routerLink="contact">Let's Talk</a>
      </div>
  </div>
  <div class="image">
      <img src=".\assets\img\a.jpg" alt="Sanjeev">
  </div>

  <div class="home-sci">
      <a href="#"><i class='bx bxl-facebook'></i></a>
      <a href="#"><i class='bx bxl-twitter' ></i></a>
      <a href="https://www.linkedin.com/in/sanjeevsjk/"><i class='bx bxl-linkedin' ></i></a>
  </div>
</section>
